version: '3.3'

services:
  mujoco_tactile_sensor_plugin:
    image: mujoco_tactile_sensor_plugin:humble
    user: root
    container_name: mujoco_tactile_sensor_plugin
    build:
      context: ..
      dockerfile: ./dockerfiles/Dockerfile.windows
    volumes:
      - "../:/root/catkin_ws/src/mujoco_tactile_sensor_plugin/"
    privileged: True
    stdin_open: True
    command: bash
